@model List<ASP.NET_Web.Models.ProductEntity.Product>;

<h1>
    Movies
</h1>

<div class="vstack gap-3 w-25">
    @if(User.IsInRole(UserRole.ADMIN)) {
        <a href="/Product/New" class="btn btn-primary">Create Movie</a>
    }
    @foreach(var movie in Model) {
        @Html.ActionLink(movie.Name, "Edit", "Product", new {Id = movie.Id})
    }
</div>