@model List<ASP.NET_Web.Models.CustomerEntity.Customer>;

<div>
    <h1>
        Customers
    </h1>

    <div class="vstack gap-2 w-25">
        @if(User.IsInRole(UserRole.ADMIN)) {
            <a href="/Customer/New" class="btn btn-primary">Create customer</a>
        }
        @foreach(var customer in Model) {
            @Html.ActionLink(customer.Name, "Edit", "Customer", new { Id = customer.Id })
        }
    </div>
</div>