@model List<ASP.NET_Web.Models.CustomerEntity.Customer>;

<div>
    <h1>
        Customers
    </h1>

    <div class="vstack gap-2">
        <a href="/Customer/New">Create a customer</a>
        @foreach(var customer in Model) {
            @Html.ActionLink(customer.Name, "Edit", "Customer", new { Id = customer.Id })
        }
    </div>
</div>