@model List<ASP.NET_Web.Models.CustomerEntity.Customer>;

<div>
    <h1>
        Customers
    </h1>

    @foreach(var customer in Model) {
        <a href="/Customer/Details/@customer.Id">@customer.Name</a>
    }
</div>